.increase-decrease-btns{
    width: 40px;
    border-style: none;
    font-size: 25px;
    font-weight: bolder;
    padding: 0;
    margin: 10px;
    border-radius: 50%;
}

#count-container{
    border: 0.001rem solid white;
    text-align: center;
    padding: 5px;
    height: 35px;
    width: 35px;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px rgba(255, 253, 253, 0.8);
}

.count-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.increase-decrease-btns:focus{
    outline-style: none;
}